extend layout
block content
  p
    | FADIE
    | FADIE
    | FADIE
  p
    | LOL
    | LOL
    | LOL
  block sidebar
    .widget
      h1 Widget
      p
        | FADIE
        | FADIE
      p
        | FADIE
        | FADIE
